/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
	font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
	padding: 0 16px;
}
h3{
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
}
.nav__elements{
    display: flex;
    justify-content: space-between;
}
.gender{
    width: 368px;
    justify-content: space-between;
    display: flex;
}
.hamburger{
	display: none;
}
.procesess{
    width: 160px;
    justify-content: space-between;
    display: flex;
}
nav{
    padding-top: 41px;
    padding-bottom: 9px;
}
nav a{
	color: black;
	transition: all 0.3s;
}
 nav a:hover{
	color: #A28356;
}
/* offer */
.offer{
	padding: 32px 0 32px 0;
}
.offer__elements{
	display: flex;
}
.offer__info{
	width: 50%;
}
.offer__info h2{
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 16px;
}
h1{
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	text-transform: uppercase;
	margin-bottom: 32px;
}
.model h2{
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	margin-bottom: 16px;
}
.model__facts{
	font-style: italic;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	margin-bottom: 12px;
}
.model__info{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-align: justify;
	max-width: 441px;
	margin-bottom: 30px;
}
.offer__info a{
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	text-align: justify;
	text-transform: uppercase;
	color: #ffffff;
	background: #A28356;
	border: 1px solid #A28356;
	box-sizing: border-box;
	padding: 14px 28px;
	transition: 0.3s;
	display: inline-block;
}
.offer__info a:hover{
	background-color: #ffffff;
	color: #A28356;
}
.offer__photo{
	width: 50%;
}
.swiper-slide{
	background-color: #ffffff;
}
.swiper-slide img{
	width: 100%;
}
.delivery{
	background: #2A2E39;
	padding: 71px 0;
}
.delivery h3{
	color: #ffffff;
}
span{
	color: #A28356;
}
.registration{
	padding: 71px 0;
}
.registration h3{
	color: black;
}
form{
	width: 100%;
	display: flex;
	align-items: start;
	justify-content: space-between;
	margin-top: 31px;
}
input{
	padding: 15px 10px;
	border: 1px solid #A28356;
	box-sizing: border-box;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: #A59884;
	width: 24%;
	min-width: 240px;
	margin-bottom: 15px;
	transition: all 0.3s;
}
input::placeholder{
	color: #A59884;
}
form button{
	width: 24%;
	min-width: 240px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #A28356;
	border: 1px solid #A28356;
	box-sizing: border-box;
	padding: 15px 73px;
	transition: all 0.3s;
}
input:focus{
	box-shadow: 0px 0px 15px #A28356;
}
button:hover{
	background-color: #ffffff;
	color: #A28356;
}
.links{
	background: #2A2E39;
	padding: 87px 0;
}
.links__list{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.links__item{
	width: 24%;
	min-width: 240px;
}
.links__item h4{
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.links__item hr{
	height: 1px;
	background-color: #A28356;
	margin: 8px 0 16px 0;
	width: 80%;
}
.links__item a{
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: rgba(255, 255, 255, 0.69);
	margin-bottom: 14px;
	display: inline-block;
	transition: all 0.3s;
}
.links__item a:hover{
	color: #A28356;
}
.social a{
	margin-right: 10px;
}
.social a:hover{
	transform: scale(1.5);
}
footer{
	font-style: normal;
	font-weight: 200;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: #A28356;
	background-color: black;
	padding: 19px 0;
}
.swiper-button-next, .swiper-button-prev{
	color: #A28356;
	transition: all 0.3s;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
	transform: scale(1.5);
}
.swiper-pagination-bullet-active{
	background-color: #A28356;
}
.offer__photo_little{
	display: none;
	margin-bottom: 30px;
}
